@use "@picocss/pico/scss/pico" with (
  $theme-color: "zinc"
);
@use "@picocss/pico/scss/colors" as *;
@use "@picocss/pico/scss/colors/utilities";

:root {
  --pico-border-radius: 0.75rem;
  --pico-border-width: 2px;
  --pico-font-family: "Lexend", sans-serif;
  --pico-spacing: 1em;
  --pico-line-height: 1.5em;
  --pico-typography-spacing-vertical: calc(1.325 * var(--pico-spacing));
  --pico-form-element-spacing-vertical: calc(0.75 * var(--pico-spacing));
  --pico-form-element-spacing-horizontal: calc(1 * var(--pico-spacing));
}

.fat-padding {
  --pico-form-element-spacing-vertical: calc(1 * var(--pico-spacing));
  --pico-form-element-spacing-horizontal: calc(1.15 * var(--pico-spacing));
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-background-color: #f1f1f1;
  --pico-primary-border: black;
  --pico-shadow-color: rgba(0, 0, 0, 0.25);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--pico-typography-spacing-vertical) 0;
  font-weight: 500;
}

#app,
.contents {
  display: contents;
}

@mixin outline {
  color: var(--pico-primary-border);
  background-color: var(--pico-primary-inverse);
  &:hover {
    background-color: transparent;
  }
}

.outline {
  @include outline;
}

@mixin shadow {
  --shadow-distance: 0.25em;
  box-shadow: var(--shadow-distance) var(--shadow-distance) 0 0 var(--pico-shadow-color);
}

.shadow {
  @include shadow;
}

button,
[type="submit"],
[type="reset"],
[type="button"],
[type="file"]::file-selector-button,
[role="button"] {
  @include shadow;
  @include outline;

  --depressed-distance: 1px;
  transition: all 150ms linear;

  &:active {
    transform: translateX(var(--depressed-distance)) translateY(var(--depressed-distance));
    transition-duration: 25ms;
    box-shadow: calc(var(--shadow-distance) - var(--depressed-distance))
      calc(var(--shadow-distance) - var(--depressed-distance)) 0 0 var(--pico-shadow-color);
  }
}

button[disabled] {
  cursor: not-allowed;
}
